<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VGS</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.vgs.serv.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPerson</display-name>
    <servlet-name>AddPerson</servlet-name>
    <servlet-class>com.vgs.serv.AddPerson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPerson</servlet-name>
    <url-pattern>/AddPerson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAddress</display-name>
    <servlet-name>AddAddress</servlet-name>
    <servlet-class>com.vgs.serv.AddAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAddress</servlet-name>
    <url-pattern>/AddAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMember</display-name>
    <servlet-name>AddMember</servlet-name>
    <servlet-class>com.vgs.serv.AddMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMember</servlet-name>
    <url-pattern>/AddMember</url-pattern>
  </servlet-mapping>
</web-app>